*{
    margin:0;
    padding:0r;
    box-sizing: border-box;
    font-family: "Xahn Mono", Arial, sans-serif;
}

#headshot{
    float: right;
    margin: 5rem;
    width: 300px;
}
body{
    background-color: #f2ebdf;
    color:#ff6c4a;
}

h1 {
    color: #ff6c4a;
    font-style: italic;
}

h2 {
    font-size: 30px;
    font-weight: 500;
    color:#ff6c4a;
}

section {
    margin: 10px;
    padding: 30px;
}

.logo{
    padding-top: 1rem;
    padding-left: 1rem;
}

#Experience {
    text-align: left;
    
}

#link{
    width: 50px;
    height: 50px;
}


