body {
    background-color: green;
    color: blue;
    font-family: "Outfit", sans-serif;
}

h1 {
    color: rgb(0, 255, 217);
}

h2 {
    font-size: 30px;
    font-weight: 500;
    color: white;
}

section {
    margin: 10px;
    padding: 30px;
}

#Experience {
    text-align: left;
    
}

#link {
    color:white;

}


